## Import of functions
importFrom(stats, aggregate)
importFrom(stats, as.formula)
importFrom(stats, na.omit)
importFrom(stats, terms)
importFrom(stats, update)
importFrom(utils, object.size)
importFrom(utils, write.table)
importFrom(qdapRegex, rm_between)
importFrom(stringi, stri_split_fixed)

## Import of packages
import(
	foreign,
	methods,
	plotKML,
	sp,
	taxlist,
	vegdata
)

## Export of classes
exportClasses(
	coverconvert,
	shaker,
	vegtable
)

## Export of methods
exportMethods(
	"[", "[<-", "$", "$<-",
	add_releves,
	aggregate,
	clean,
	count_taxa,
	crosstable,
	df2vegtable,
	dimnames,
	make_cocktail,
	match_names,
	merge_taxa,
	names,
	header,"header<-",
	layers2samples,
	relation2header,
	set_formula,
	set_group,
	set_pseudo,
	subset,
	summary,
	taxa2samples,
	trait_proportion,
	trait_stats,
	transform,
	used_synonyms,
	veg_relation,"veg_relation<-",
	vegtable2kml,
	write_juice
)

## Export of regular function names
export(
	cross2db,
    read_juice,
	tv2coverconvert,
	tv2vegtable,
	vegtable_stat
)
